@using BakeryPierre.Models;

@{
  Layout = "_Layout";
}

<h1>Bakery Pierre</h1>
 
  <div class="col-md-5">
    <h2>Treats</h2>
    @foreach (Treat treat in ViewBag.Treats)
        {
          <li>@treat.TreatName</li>
        }
  </div>
  <div class="col-md-5">
    <h2>Our Flavors</h2>
    @foreach (Flavor flavor in ViewBag.Flavors)
        {
          <li>@flavor.FlavorName</li>
        }
  </div>

 
