@model BakeryPierre.Models.Flavor

@{
  Layout = "_Layout";
}

<h2>Add a Treat</h2>

<h4>Add a treat with this flavor profile: @Html.DisplayFor(model => model.FlavorName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Select Treat")
  @Html.DropDownList("TreatId")

  <input type="submit" value="Save" />
}