@using BakeryPierre.ViewModels
@model EditRoleViewModel

@{
  Layout = "_Layout";
}

<h1>Edit Role</h1>

@using(Html.BeginForm())
{
  @Html.HiddenFor(model => model.Id)
    <div class="row">
    </div>
  </div>
}