<div id="sidebar">
    <header>
      <a href="#">Bakery Pierre</a>
    </header>
    <ul class="nav">
      <li>
        <a href="/">
          Home
        </a>
      </li>
      <li>
        <a href="/treats">
          Treats
        </a>
      </li>
      <li>
        <a href="/flavors">
          Flavors
        </a>
      </li>
    </ul>
  </div>